
 *{
    padding:0px;
    margin:0px;
   }
   .box_course .item {
    display: block;
    position: relative;
    border-radius: 10px;
    transition: all 0.15s ease-in-out 0s;
    background-color: red;
}
   #he{
       background: red;
        height: 45px;
        margin: auto;
    }
    #he img#home {
        float: left;
        height: 30px;
        padding-left: 80px;

    }
    #he ul li{
        list-style-type: none;
        float: left;
        width: 195px;
        text-align: center;
        line-height: 40px;
        padding-right: 0px;
    } 
    #he ul li a{
        text-decoration: none;
    }
    #menu{
        background:white;
        height: 380px;
        margin: auto;
    }
    nav{
        height: 1000px;
    }
    nav img#ten {
        float: left;
        height: 80px;
        padding-left: 80px;
    }
    nav img#so1 {
        float: left;
       
        padding-left: 100px;
    } 
 nav img#giasu{
    width: 100%;
    height: 270px;
    margin: auto;
}
    section{
        width: 1200px;
        height: 1020px;
        margin: auto;
        text-decoration: none;
    }
    #b h2 {
        text-align: center;
    }
    #b ul {
        padding: 20px ;
    }
    #b ul li{
        list-style-type: none;
    } 
    section img#TrungTam{
        width: 1160px;
        height: 450px;
        margin: 20px;
    }
    section img#xedap{
        width: 1150px;
        height: 450px;
        margin: 20px;
}
#se a{
    text-decoration: none;
}

element.style {
    color: blue;
    text-decoration: none;
}

#a1{
    width:100%;
}
#b1{
    text-transform: uppercase;
    top: 330px;
    left: 20px;
    position: absolute;
}
#b2{
    text-transform: uppercase;
    top: 330px;
    right:20px;
    position: absolute;
}
footer{
	width: 100%;
	height: 65px;
	background:red;
	margin: auto;
}
footer > h4#Ten {
	float: left;
    padding-right: 190px;
	color:white;
	margin: auto;
}

footer > h4#DiaChi {
	float: left;
    padding-right: 100px;
	color:white;
	margin: auto;
}
footer > h4#DT {
	float: left;
    padding-right: 150px;
	color:white;
	margin: auto;
}
footer > h4#DD {
	float: left;
    padding-right: 100px;
	color:white;
	margin: auto;
}
#abc{
    margin: auto;
    background-color: #e11e26;
    padding: 15px 15px;
    width: 250px;
    max-width: 100%;
    text-transform: uppercase;
    color: #FFF;
    border-radius: 5px;
}
#abc a {
    color:white;
    text-decoration: none;
    transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
#abc a {
    margin:initial;
    color: white;
    text-decoration: none;
}
#abc a {
    background-color: transparent;
}



